{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := "junno-cn" -}}
{{- $email := "asdusr@foxmail.com" -}}
{{- $main := "611ECD7DA2214A89"}}
{{- $sub := "89233DDF26FB803A"}}

[data]
email = "{{ $email }}"
name = "{{ $name}}"
sub = "{{ $sub }}"
main = "{{ $main }}"
osid = {{ $osID | quote }}

# bitwarden
[data.bitwarden]
gpg_secret_sub = "2cea3e57-032a-4c5f-b2e3-f5656c9af06c"
