# shellcheck shell=bash

# Bash does not source .profile when .bash_profile is found so we do it here
# https://stackoverflow.com/a/9954208/12156188
if [ -f "${HOME}/.profile" ]; then
  # shellcheck source=./dot_profile.tmpl
  source "${HOME}/.profile"
fi

# if not coming from .bashrc and .bashrc exists
# https://stackoverflow.com/a/9954208/12156188
if [[ -z "${COMING_FROM_BASHRC}" && -r "${HOME}/.bashrc" ]]; then
  export COMING_FROM_BASH_PROFILE=true
  # shellcheck source=./dot_bashrc
  source "${HOME}/.bashrc"
  unset COMING_FROM_BASH_PROFILE
fi

# man page
export LESS_TERMCAP_mb=$(printf '\e[01;31m')  # enter blinking mode - red
export LESS_TERMCAP_md=$(printf '\e[01;35m')  # enter double-bright mode - bold, magenta
export LESS_TERMCAP_me=$(printf '\e[0m')      # turn off all appearance modes (mb, md, so, us)
export LESS_TERMCAP_se=$(printf '\e[0m')      # leave standout mode
export LESS_TERMCAP_so=$(printf '\e[01;33m')  # enter standout mode - yellow
export LESS_TERMCAP_ue=$(printf '\e[0m')      # leave underline mode
export LESS_TERMCAP_us=$(printf '\e[04;36m')  # enter underline mode - cyan

# configure for gpg-agent
export GPG_TTY=/dev/pts/1
export SSH_AUTH_SOCK=${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
echo UPDATESTARTUPTTY | gpg-connect-agent 1> /dev/null

# configure for goproxy
export GOPROXY=https://proxy.golang.com.cn,direct

# configure for fcitx5
export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
