# 8小时：28800? ， 12小时：43200? ， 24小时 ：86400  7天：604800
enable-ssh-support
# 最大缓存时间
default-cache-ttl-ssh 604800
# 最大缓存时间
max-cache-ttl-ssh 604800
# 无人值守密码
allow-loopback-pinentry
# 请根据自己的情况选择 pinentry 程序
pinentry-program /usr/bin/pinentry
# pinentry-mac
###+++--- GPGConf ---+++###
debug-level none
###+++--- GPGConf ---+++###
