{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
     "curl"
     "direnv"
     "git-lfs"
     "jq"
     "inxi"
     "neofetch"
     "tig"
     "exa"
     "ripgrep"
     "units"
     "vim"
     "lua5.4"
     "preload"
     "stress"
     "lm-sensors"
     "net-tools"
     "htop"
     "iftop"
     "iotop"
     "language-pack-zh-han*"
     "zsh" -}}

{{ $classicSnaps := list -}}

{{ if not .headless -}}

{{   $packages = mustAppend $packages "vim-gtk" -}}
{{   $packages = mustAppend $packages "fcitx5" -}}
{{   $packages = mustAppend $packages "fcitx5-chinese-addons" -}}
{{   $packages = mustAppend $packages "fcitx5-frontend-qt5" -}}
{{   $packages = mustAppend $packages "fcitx5-config-qt" -}}
{{   $packages = mustAppend $packages "font-manager" -}}
{{   $packages = mustAppend $packages "gnome-tweaks" -}}
{{   $packages = mustAppend $packages "meld" -}}
{{   $packages = mustAppend $packages "dconf-editor" -}}
{{   $packages = mustAppend $packages "flameshot" -}}
{{   $packages = mustAppend $packages "meld" -}}
{{   $packages = mustAppend $packages "remmina" -}}
{{   $packages = mustAppend $packages "remmina-plugin-rdp" -}}
{{   $packages = mustAppend $packages "remmina-plugin-secret" -}}
{{   $packages = mustAppend $packages "remmina-plugin-spice" -}}

{{ end -}}

{{ if .personal -}}
{{   $classicSnaps = mustAppend $classicSnaps "goreleaser" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update -y
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

if ! [ -f /usr/bin/code ]; then
trap "rm -rf code.deb" EXIT
wget -c https://code.visualstudio.com/sha/download\?build\=stable\&os\=linux-deb-x64 -O code.deb
sudo apt install -y ./code.deb
fi

if ! [ -f /usr/bin/bat ]; then
trap "rm -rf bat_0.22.1_amd64.deb" EXIT
wget https://ghproxy.com/https://github.com/sharkdp/bat/releases/download/v0.22.1/bat_0.22.1_amd64.deb
sudo apt install -y ./bat_0.22.1_amd64.deb
fi

{{ if lookPath "snap" }}
{{   range $classicSnaps }}
{{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{-  else if eq .osid "linux-fedora" -}}
{{ $packages := list
     "direnv"
     "git-lfs"
     "jq"
     "inxi"
     "neofetch"
     "tig"
     "exa"
     "ripgrep"
     "units"
     "vim"
     "lua"
     "bat"
     "zsh" -}}
{{ if not .headless -}}
{{   $packages = mustAppend $packages "vim-X11" -}}
{{   $packages = mustAppend $packages "fcitx5" -}}
{{   $packages = mustAppend $packages "fcitx5-chinese-addons" -}}
{{   $packages = mustAppend $packages "fcitx5-configtool" -}}
{{   $packages = mustAppend $packages "gnome-tweaks" -}}
{{   $packages = mustAppend $packages "gnome-shell-extension-dash-to-dock" -}}
{{   $packages = mustAppend $packages "meld" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash
  
set -eufo pipefail
  
{{ $sudo }}dnf update -y
{{ $sudo }}dnf install -y {{ $packages | join " " }}

if ! [ -f /usr/bin/code ]; then
trap "rm -rf code-1.71.2-1663191299.el7.x86_64.rpm" EXIT
wget https://az764295.vo.msecnd.net/stable/74b1f979648cc44d385a2286793c226e611f59e7/code-1.71.2-1663191299.el7.x86_64.rpm
{{ $sudo }}dnf localinstall -y ./code-1.71.2-1663191299.el7.x86_64.rpm
fi
{{ end -}}
