{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
     "curl"
     "direnv"
     "git-lfs"
     "jq"
     "inxi"
     "neofetch"
     "ripgrep"
     "units"
     "vim"
     "lua5.4"
     "language-pack-zh-han*"
     "fcitx5"
     "fcitx5-chinese-addons"
     "fcitx5-frontend-qt5"
     "fcitx5-config-qt"
     "fcitx5-material-color"
     "gnome-tweaks"
     "zsh" -}}

{{ $classicSnaps := list -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages "vim-gtk" -}}
{{   $packages = mustAppend $packages "meld" -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ if .personal -}}
{{   $classicSnaps = mustAppend $classicSnaps "goreleaser" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update -y
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ range $classicSnaps }}
{{ $sudo }}snap install --classic {{ . }}
{{ end }}

{{ end -}}
